* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: rgb(29, 35, 70);
}


:root {
  --color-primary: rgb(29, 35, 70);
  --color-secondary: #f33974;
}


/* Sobre Nosotros */

.about {
  width: 100%;
  padding: 78px 0px;
  display: flex;
  flex-direction: column;
}

.about img {
  height: auto;
  width: 70%;
  border-radius: 20px;
}

.about-text {
  width: 70%;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#tituloDesarrolladores{
  background: var(--color-secondary);
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
}

.about-text h5 {
  color: white;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

span {
  color: #f9004d;
}

.about-text p {
  text-align: justify;
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 14px;
  margin-bottom: 10px;
}

.about-text ul{
  justify-content: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.about-text ul li{
  font-size: 30px;
}

#fb, #ig{
  font-size: 40px;
}

#correo{
  font-size: 15px;
  color: #fff;
}

#fb{
  color: #3b5998;
}

#ig{
  color: #c13584
}

#email{
  color: #fff;
}


#map {
  width: 100%;
  height: 300px;
}


/* Tablet  */
@media only screen and (min-width: 750px) {

  .about-text h5 {
    font-size: 2.05rem;
  }

  .about-text p {
    font-size: 34px;
  }

  #correo{
    font-size: 30px;
    padding-top: 20px;
  }

  #fb, #ig{
    font-size: 60px;
  }

  #tituloDesarrolladores{
    font-size: 2.9rem;
  }
}

/* Desktop  */
@media only screen and (min-width: 900px) {
  

  .about {
    display: flex;
    flex-direction: row;
  }

  .about img {
    width: 25rem;
    height: 25rem;
  }

  .about-text h5 {
    color: white;
    font-size: 1.25rem;
    text-align: justify;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 1px;
  }

  .about-text p {
    font-size: 34px;
  }
  

  .about-text {
    margin-top: 1rem;
    width: 70%;
  }

  #map {
    width: 100%;
    height: 500px;
  }

  #correo{
    font-size: 20px;
  }
  

}
