* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
    --color-primary: rgb(29, 35, 70);
    --color-secondary: #f33974;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: var(--color-primary);
}

main {
  min-height: calc(100vh - 100px - 300px);
}

#tituloCarrito{
    background: var(--color-secondary);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.container{
    background: rgb(12, 20, 41);
    width: 100%;
    height: auto;
}

.contenedorCarrito{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card{
    width: auto;
    height: auto;
    margin: 15px;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(255, 255, 255);
    grid-column: span 5;
    background: var(--color-secondary);
}

.card h3{
    color: #000;
    font-weight: bold;
    font-size: 100%;
}

.contenedorImagen{
    margin: 10px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img{
    width: 200px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(20, 20, 20);
}

.card .container{
    background: var(--color-secondary);
    width: auto;
    height: auto;
}

.card b{
    display: none;
}

.card h3{
    font-size: 100%;
    text-align: center;
    margin: 15px;
}

.card #precio{
    background: rgb(38, 118, 184);
    color: #000;
    font-weight: bold;
    font-size: 100%;
    border: none;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.card button{
    background: #fff;
    color: #000;
    font-weight: bold;
    font-size: 100%;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

.total{
    width: auto;
    height: auto;
}

.contenidoTotal{
    margin: 10px;
    background: var(--color-secondary);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 3px solid rgb(255, 255, 255);
}

.contenidoTotal h1{
    text-align: center;
    padding: 5px;
    grid-column: span 2;
}

.contenidoTotal .descripcion{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; 
    border: 2px solid #000;
}

.contenidoTotal .monto{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; 
    border: 2px solid #000;
}

#articulos, #montoTotal{
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    padding: 5px;
}

#articulosT, #montoT{
    font-size: 100%;
    text-align: center;
    padding: 5px;
    color: #fff;
}

#btnPagar{
    background: #fff;
    font-weight: bold;
    font-size: 100%;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    grid-column: span 2;
}


/* Tablet  */
@media only screen and (min-width: 750px) {
    .contenedorCarrito{
        grid-template-columns: repeat(10, 1fr);
    }

    .card h3{
        font-size: 1.5rem;
    }

    .contenidoTotal .descripcion{
        font-size: 1.3rem;
    }

    #articulos, #montoTotal{
        font-size: 1.7rem;
    }

    #articulosT, #montoT{
        font-size: 1.7rem;
    }
    
    #btnPagar{
        font-size: 1.9rem;
    }

    .card #precio{
        font-size: 1.5rem;
    }

    .card button{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 900px) {
    .contenedorCarrito{
        grid-template-columns: repeat(15, 1fr);
    }
}