* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(29, 35, 70);
  --color-secondary: #f33974;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: var(--color-primary);
}

main {
  min-height: calc(100vh - 100px - 300px);
}

.container {
  width: 100%;
  margin: auto;
}

.container > .content,
.container > div {
  padding: 20px;
  align-items: center;
}

#tituloCarrito {
  background: var(--color-secondary);
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.contenedorFormulario {
  width: auto;
  height: auto;
}

.form-register {
  width: 100%;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 5px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: var(--color-primary);
  border: none;
  padding: 12px;
  color: var(--color-secondary);
  margin: 16px 0;
  font-size: 16px;
}

#Message {
  overflow-y: scroll;
  height: 100px;
  text-align: justify;
  opacity: 0.9;
  resize: none;
}

#Subject {
  overflow-y: scroll;
  text-align: center;
  opacity: 0.9;
}

#titulo {
  text-align: center;
  margin: 20px;
  color: var(--color-secondary);
  font-size: 2rem;
}

.botons{
  cursor: pointer;
}

/* Tablet  */
@media only screen and (min-width: 750px) {
  .controls {
    font-size: 2.1875rem;
  }

  #titulo {
    font-size: 3rem;
  }

  #Message {
    height: 250px;
  }

  .form-register .botons {
    padding: 18px;
    font-size: 36px;
    font-weight: bold;
  }
}
