* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: rgb(29, 35, 70);
}

main {
  min-height: calc(100vh - 100px - 300px);
}

:root {
  --color-secondary: #f33974;
}

.container {
  width: 100%;
  margin: auto;
}

.container > .content,
.container > div {
  padding: 20px;
  align-items: center;
}

.pelicula {
  width: 100%;
  margin: auto;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
}

#tituloP {
  font-size: 24px;
  grid-column: span 2;
  text-align: center;
  color: var(--color-secondary);
}

.imagenFondo {
  height: 200px;
  grid-column: span 2;
}

.imagenFondo img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  border: 5px solid var(--color-secondary);
}

.detalles {
  background-color: rgb(56, 61, 112);
  height: auto;
  grid-column: span 2;
  text-align: justify;
  padding: 1em;
  border-radius: 5%;
  border: 5px solid var(--color-secondary);
  font-size: 20px;
}

.pelicula #repartoTitulo {
  color: var(--color-secondary);
  margin-left: 30%;
  grid-column: span 2;
}

.repartoActores {
  width: 100%;
  height: auto;
  border: 5px solid var(--color-secondary);
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  grid-column: span 2;
}



.detallesActores {
  width: 100%;
  height: 100%;
  border: 5px solid var(--color-secondary);
  justify-content: center;
  align-items: center;
  font-size: 20px;
  grid-column: span 2;

}

#detalleImagen{
  width: auto;
  height: 21.5625rem;
}

.detallesActores img {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
}

#nombreActor {
  font-weight: bold;
  text-align: center;
  background: var(--color-secondary);
  font-size: 100%;  
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 2px solid #000;
}

.imagenP {
  display: none;
}

#imagenPelicula {
  display: none;
}

#btnCarrito {
  width: 50px;
  height: 50px;
  color: white;
  position: fixed;
  bottom: 40px;
  left: 40px;
  display: block;
  background-color: var(--color-secondary);
  text-align: center;
  font-size: 30px;
  line-height: 55px;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

#iconoCarrito {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
}


#btnCompartir {
  width: 50px;
  height: 50px;
  color: white;
  position: fixed;
  bottom: 40px;
  left: 100px;
  display: block;
  background-color: rgb(56, 61, 112);
  text-align: center;
  font-size: 30px;
  line-height: 55px;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}


#iconoCompartir {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* Tablet  */
@media only screen and (min-width: 750px) {
  .pelicula {
    grid-template-columns: repeat(5, 1fr);
  }

  #tituloP {
    font-size: 50px;
    grid-column: span 5;
  }

  .imagenFondo {
    height: 100%;
    grid-column: span 5;
  }

  .imagenFondo img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border: none;
  }

  .detalles {
    background-color: rgb(56, 61, 112);
    height: auto;
    grid-column: span 5;
    text-align: justify;
    padding: 1em;
    border-radius: 5%;
    border: 5px solid var(--color-secondary);
    font-size: 20px;
    display: flex;
    flex-direction: row;
  }

  .imagenP {
    display: block;
    background: #fff;
    width: 4000px;
    height: auto;
  }

  .descripcionP {
    margin: 20px;
    font-size: 25px;
  }

  #imagenPelicula {
    display: block;
    width: 100%;
    height: 100%;
  }

  .pelicula #repartoTitulo {
    color: var(--color-secondary);
    margin-left: 40%;
    grid-column: span 5;
    font-size: 45px;
  }

  .repartoActores {
    width: 100%;
    height: auto;
    border: 5px solid var(--color-secondary);
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    grid-column: span 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .detallesActores {
    width: 100%;
    height: auto;
    border: 5px solid var(--color-secondary);
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .detallesActores img {
    width: 100%;
    height: 100%;
  }

  #nombreActor {
  
  }

  #btnCarrito {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 2.6rem;
  }

  #btnCompartir {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 2.6rem;
    left: 150px;
  }

}

@media only screen and (min-width: 900px) {
  .pelicula {
    grid-template-columns: repeat(5, 1fr);
  }

  #tituloP {
    font-size: 80px;
    grid-column: span 5;
  }

  .imagenFondo {
    width: 100%;
    height: 650px;
    grid-column: span 5;
  }

  .imagenFondo img {
    border-radius: 0%;
    border: none;
  }

  .detalles {
    width: 100%;
    height: auto;
    grid-column: span 5;
    display: flex;
    flex-direction: row;
  }

  .imagenP {
    background: #fff;    
    height: auto;
    width: auto;
  }

  .descripcionP {
    margin: 20px;
    font-size: 25px;
  }

  #imagenPelicula {
    width: 450px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }

  .pelicula #repartoTitulo {
    color: var(--color-secondary);
    margin-left: 40%;
    font-size: 45px;
  }

  .repartoActores {
    width: 100%;
    height: auto;
    border: 5px solid var(--color-secondary);
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    grid-column: span 5;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0px;
  }

  .detallesActores {
    font-size: 20px;
  }

  #detalleImagen{
    width: auto;
    height: 21.5625rem;
  }

  .detallesActores img {
    width: 100%;
    height: 100%;
  }

  #nombreActor {
    font-weight: bold;
    text-align: center;
  }

  #btnCarrito {
    width: 50px;
    height: 50px;
    line-height: 55px;
    font-size: 1.6rem;
  }

  #btnCompartir {
    width: 50px;
    height: 50px;
    line-height: 55px;
    font-size: 1.6rem;
    left: 100px;
  }

}
