* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(29, 35, 70);
  --color-secondary: #f33974;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: var(--color-primary);
}

main {
  min-height: calc(100vh - 100px - 300px);
}

.container {
  width: 100%;
  margin: auto;
}

.container > .content,
.container > div {
  padding: 10px;
  align-items: center;
}

.contenedorHistorial {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #88002b;
  border-radius: 5px;
  width: 9em;
  height: auto;
  margin: auto;
}

.contenedorImagen {
  width: auto;
  height: 150px;
}

.contenedorImagen img {
  width: 100%;
  height: 100%;
}

.card h4 {
  color: #000000;
  font-size: 100%;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}

#nombrePelicula {
  width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container b {
  display: none;
}

#tituloHistorial {
  background: var(--color-secondary);
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.compartir {
  width: 100%;
  background-color: #57b6a1;
  height: 100%;
  margin: 0px;
  padding: 5px;
  border: none;
}

.compartir i {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.agregar-carrito {
  width: 100%;
  background-color: #5765b6;
  height: 100%;
  margin: 0px;
  padding: 5px;
  border: none;
}

.agregar-carrito i {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

#estreno {
  border-top: 5px solid black;
}

/* Celular con pantalla mini */
@media only screen and (max-width: 280px) {
  .contenedorHistorial {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #88002b;
    border-radius: 5px;
    /* width: 250px; */
    width: 15.625rem;
    height: auto;
    margin: auto;
  }

  .contenedorImagen {
    width: 100%;
    height: 100%;
  }

  .card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  #nombrePelicula{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

/* Tablet  */
@media only screen and (min-width: 750px) {
  .contenedorHistorial {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #88002b;
    border-radius: 5px;
    width: 230px;
    height: auto;
  }


  .card h4 {
    font-size: 1.3rem;
  }

  #nombrePelicula {
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .contenedorImagen {
    width: auto;
    height: 300px;
  }
}

/* Desktop  */
@media only screen and (min-width: 900px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }

  .contenedorHistorial {
    grid-template-columns: repeat(5, 1fr);
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #88002b;
    border-radius: 5px;
    width: 230px;
    height: auto;
  }

  #nombrePelicula{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}
