* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: rgb(29, 35, 70);
}

main {
  min-height: calc(100vh - 100px - 300px);
}

.container {
  width: 100%;
  margin: auto;
  display: grid;
  gap: 0.2em;
  grid-template-columns: repeat(5, 1fr);
}

.container > .content,
.container > .sidebar,
.container > div {
  background: rgb(29, 35, 70);
  padding: 20px;
  border: 1px solid #000;
}

.container > .content {
  grid-column: 1 / -1;
}

.content > .article {
  position: relative;
}

.content .article h1,
.content .article p {
  padding: 10px;
}

.container > .sidebar {
  grid-column: 1 / -1;
  background: rgb(29, 35, 70);
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .sidebar img {
  width: 100%;
  margin-top: 5px;
  border-top-left-radius: 150px;
}

.sidebar #enlace {
  background: #f9004d;
  /* button */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.sidebar h5 {
  font-size: 12px;
}

.posts {
  grid-column: span 5;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5em;
}

.related-post {
  color: rgb(0, 0, 0);
  font-weight: bold;
  height: 180px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  margin-bottom: 20px;
  grid-column: span 1;
}

#postDesarrolladores,
#postPeliculas,
#postHistorial,
#postCarrito{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#postDesarrolladores{
  background-image: url("../img/desarrolladores.jpg");
}

#postPeliculas{
  background-image: url("../img/peliculas.jpg");
}

#postHistorial{
  background-image: url("../img/historial.jpg");
}

#postCarrito{
  background-image: url("../img/carrito.jpg");
}

a > .related-post:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.main-wrapper {
  display: none;
}

.carousel-wrapper {
  height: 200px;
  position: sticky;
  width: 100%;
  display: block;
  margin: 50px auto;
  border: 2px solid black;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^="item"] {
  display: none;
}
.item-1 {
  z-index: 2;
  opacity: 1;
  background: url("../img/imagenFondoIndex.png");
  background-size: cover;
}
.item-2 {
  background: url("../img/spiderman.jpg");
  background-size: cover;
}
.item-3 {
  background: url("../img/ironMan.jpg");
  background-size: cover;
}

*:target ~ .item-1 {
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;
}
#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

.titulo-contenido h1 {
  color: #ffff;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10px;
  background: #f9004d;
  padding: 10px;
  border-radius: 10px;
}

.titulo-contenido p {
  color: #ffff;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  margin: 20px;
}

/* Desktop  */
@media only screen and (min-width: 900px) {
  .container .content {
    grid-column: span 3;
  }

  .container .sidebar {
    display: flex;
    grid-column: span 2;
  }

  .posts {
    grid-column: span 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
  }

  .container .related-post {
    grid-column: span 1;
  }

  .titulo-contenido h1 {
    font-size: 4rem;
  }

  .titulo-contenido p {
    font-size: 2rem;
  }

  .carousel-wrapper {
    height: 400px;
    width: 100%;
  }
}
