/* Navbar */
nav {
  height: 75px;
  width: 100%;
  background-color: #001330;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0;
}

#logo-nombre {
  margin-left: 0.625rem;
  font-size: 1.25rem;
  color: #fff;
  text-transform: uppercase;
}

.logo {
  width: 80%;
  height: 80%;
}

.nav-list {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 0vh;
  top: 75px;
  background: #2a3b51;
  float: right;
  text-align: center;
  transition: all 0.5s;
}

.nav-list li {
  opacity: 1;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
  display: none;
}

.nav-list li a {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.nav li a.active,
.nav-list li a:hover {
  transition: 0.5s;
}

.hamburger-btn {
  display: block;
  font-size: 30px;
  color: white;
  float: right;
  line-height: 75px;
  margin-right: 40px;
  cursor: pointer;
}

#check {
  display: none;
}

#check:checked ~ .nav-list {
  height: 100vh;
}

#check:checked ~ .nav-list li {
  display: block;
}

/* Footer */
footer {
  width: 100%;
  position: relative;
  background-color: #001330;
  color: #fff;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 100%;
  padding: 10px;
  text-align: center;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 100%;
}

.col h3 {
  margin-bottom: 40px;
  position: relative;
}

footer ul li {
  list-style: none;
  margin-bottom: 12px;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}

footer form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

footer form .far {
  font-size: 18px;
  margin-right: 10px;
}

footer form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

footer form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

footer form button .fas {
  font-size: 16px;
  color: #ccc;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 40px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

#subirArriba {
  width: 50px;
  height: 50px;
  color: white;
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  border-radius: 50%;
  background: #032942;
  text-align: center;
  font-size: 30px;
  line-height: 70px;
  cursor: pointer;
  z-index: 2;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

html {
  scroll-behavior: smooth;
}

#icono {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
}

#bot {
  width: 50px;
  height: 50px;
  color: white;
  position: fixed;
  bottom: 40px;
  left: 6px;
  display: block;
  background: #92000c;
  text-align: center;
  font-size: 30px;
  line-height: 55px;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

#iconoBot {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.contenedorBot{
  width: 200px;
  height: 350px;
  color: white;
  position: fixed;
  bottom: 40px;
  left: 55px;
  display: none;
  background: #92000c;
  text-align: center;
  font-size: 30px;
  line-height: 55px;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

#frameBot{
  width: 100%;
  height: 100%;
  /* Transiciones */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/* Tablet  */
@media only screen and (min-width: 750px) {

  .nav-list li {
    line-height: 100px;
    transition: all 1s;
  }

  .nav-list li a {
    font-size: 50px;
  }

  #subirArriba{
    width: 80px;
    height: 80px;
    font-size: 2.6rem;
  }

  #icono{
    font-size: 3rem;
    margin-top: 10px;
  }

  .col p{
    font-size: 1.1rem;
  }

  .col h3{
    font-size: 1.8rem;
  }

  ul{
    font-size: 1.1rem;
  }

  form input{
    font-size: 1.5rem;
  }

  .copyright{
    font-size: 1.3rem;
  }

  
#bot {
  width: 80px;
  height: 80px;
  color: white;
  font-size: 60px;
  line-height: 55px;
}

#iconoBot {
  font-size: 30px;
  line-height: 50px;
}

.contenedorBot{
  width: 350px;
  height: 500px;
  left: 110px;
}

#frameBot{
  width: 100%;
  height: 100%;
  /* Transiciones */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

}

/* Desktop  */
@media only screen and (min-width: 900px) {
  /* Navbar */
  .logo-container {
    margin-left: 25px;
  }

  nav {
    height: 100px;
  }

  .hamburger-btn {
    display: none;
  }

  .nav-list {
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    float: right;
    text-align: right;
    margin-right: 25px;
    transition: none;
  }

  .nav-list li {
    display: inline-block;
    opacity: 1;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
  }


  .nav-list li a {
    font-size: 25px;
  }

  .nav-list li a.active,
  .nav-list li a:hover {
    color: #ffffff;
  }

  /* Footer */
  footer {
    bottom: 0;
  }

  .col {
    flex-basis: 60%;
    padding: 10px;
    text-align: justify;
  }

  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 20%;
  }

  #subirArriba{
    width: 50px;
    height: 50px;
    font-size: 1rem;
  }

  #icono{
    font-size: 2rem;
    margin-top: 0px;
  }

  .col p{
    font-size: .9rem;
    margin-right: 100px;
  }

  .col h3{
    font-size: 1.2rem;
  }

  ul{
    font-size: .8rem;
  }

  form input{
    font-size: 1rem;
  }


  #iconoBot {
    font-size: 30px;
    line-height: 50px;
  }
  
  .contenedorBot{
    width: 350px;
    height: 400px;
  }
  
  #frameBot{
    width: 100%;
    height: 100%;
  }
  

}
