* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: rgb(29, 35, 70);
}

:root {
  --color-primary: rgb(29, 35, 70);
  --color-secondary: #f33974;
}

main {
  min-height: calc(100vh - 100px - 300px);
}

.container {
  width: 100%;
  margin: auto;
}

.container > .content,
.container > div {
  align-items: center;
}

.peliculas {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #88002b;
  border-radius: 5px;
  width: 9em;
  height: auto;
  margin: auto;
}

.contenedorImagen {
  width: 100%;
  height: 100%;
}

.card img {
  width: 100%;
  height: 15.625rem;
  border-radius: 5px;
}

.card h4 {
  color: #000000;
  font-size: 100%;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}

#tPelicula {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.idpeli,
.idpelis,
.idpelis2 {
  display: none;
}

.compartir {
  width: 100%;
  background-color: #57b6a1;
  height: 100%;
  margin: 0px;
  padding: 5px;
  border: none;
}

.compartir i {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.agregar-carrito {
  width: 100%;
  background-color: #5765b6;
  height: 100%;
  margin: 0px;
  padding: 5px;
  border: none;
}

.agregar-carrito i {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

#estreno {
  border-top: 5px solid black;
}

.cardMas {
  background: rgb(71, 71, 71);
  width: 100%;
  height: 100%;
  cursor: pointer;
  letter-spacing: 0.92em;
  margin: 10px;
}

.cardMas h1 {
  text-align: center;
  color: #ffffff;
  margin-left: 10px;
  padding-top: 3%;
  padding-bottom: 10%;
}

#txtFiltro {
  width: 100%;
  height: 100%;
  border: none;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  grid-column: span 2;
}

/* -------- Filtros ---------------  */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 3em;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #23b499;
}

.select option {
  width: 100px;
  height: 100px;
  font-size: 10px;
}

#tituloPeliculas {
  background: var(--color-secondary);
  color: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

/* ----------------------------------- */
.contenedorFiltros {
  background: var(--color-secondary);
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
  justify-items: center;
  align-items: center;
}

.Nombre,
.anio,
.populares,
.categoria,
.btnBuscar {
  grid-column: span 2;
  margin-top: 10px;
}

.btnBuscar input {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
  background: var(--color-primary);
  color: #fff;
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 10px;
}

#btnEnCine,
#btnPopulares {
  width: 100%;
  height: 40px;
  border: none;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.Nombre #NombrePeliculaB,
.anio #AnioPelicula {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

/* Celular con pantalla mini */
@media only screen and (max-width: 280px) {
  .peliculas {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #88002b;
    border-radius: 5px;
    /* width: 250px; */
    width: 15.625rem;
    height: auto;
    margin: auto;
  }

  .contenedorImagen {
    width: 100%;
    height: 100%;
  }

  .card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

/* Tablet  */
@media only screen and (min-width: 750px) {
  .peliculas {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #88002b;
    border-radius: 5px;
    width: 230px;
    height: auto;
  }

  .card h4 {
    font-size: 1.3rem;
  }

  .cardMas h1 {
    padding-top: 80%;
    padding-bottom: 50%;
  }
}

/* Desktop  */
@media only screen and (min-width: 900px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }

  .peliculas {
    grid-template-columns: repeat(5, 1fr);
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #88002b;
    border-radius: 5px;
    width: 230px;
    height: auto;
  }

  .contenedorImagen {
    width: 100%;
    height: auto;
  }
  
  .card img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
  }
  

  .card h4 {
    color: #000000;
    font-size: 15px;
    /* centrar */
    text-align: center;
    padding: 10px;
  }

  .agregar-carrito {
    width: 100%;
    height: 100%;
    padding: 5px;
  }

  .agregar-carrito i {
    color: rgb(0, 0, 0);
    font-size: 20px;
  }

  .cardMas h1 {
    padding-top: 40%;
    padding-bottom: 50%;
  }

  /* -------------------------- */

  .contenedorFiltros {
    grid-template-columns: repeat(4, 1fr);
  }

  #txtFiltro {
    grid-column: span 4;
    /* font-size: 50px; */
  }

  .categoria,
  .Nombre,
  .anio,
  .populares {
    grid-column: span 1;
  }

  .btnBuscar {
    grid-column: span 4;
  }

  .select {
    width: 15em;
    height: 3em;
    line-height: 3;
  }

  .select option {
    width: 100px;
    height: 100px;
    font-size: 100%;
  }
}
