.toast{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    max-width: 400px;
    padding: 6px;
    background: #cccccc;
    color: #333333;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}

.toast--visible{
    top: 90%;
    opacity: 1;
    visibility: visible;
}

.toast--success{
    background: #00c02a;
    border-color: #009d22;
    color: #000000;
    z-index: 3;
    font-size: 100%;
    text-align: center;
    font-weight: bold;
    animation: toast-success 0.5s;
    box-shadow: 0px 30px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #000000;
}

@keyframes toast-success{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.toast--error{
    background: #d50000;
    border-color: #ba0000;
    color: #ffffff
}

/* Tablet  */
@media only screen and (min-width: 750px) {
    .toast--success{
        font-size: 1.5rem;
    }
}